body {
  background: linear-gradient(135deg, #3498db, #8e44ad);
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.Forms {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

.Title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ff6347; /* Rojo anaranjado (color de Pokébolas) */
}

.FormContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.FormLabel {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333333;
  text-align: left;
}

.FormInput,
.FormSelect {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 2px solid #4caf50; /* Verde (color de Bulbasaur) */
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
  color: #333333;
}

.Error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.SelectedTypes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.SelectedType {
  background-color: #4CAF50; /* Verde (color de Bulbasaur) */
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.RemoveButton {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.Buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.SubmitButton,
.DoneButton,
.BackButton {
  flex: 1;
  padding: 14px 0;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.SubmitButton {
  background-color: #3498db; /* Azul (color de Squirtle) */
}

.SubmitButton:hover {
  background-color: #2980b9;
}

.DoneButton {
  background-color: #27ae60; /* Verde (color de Bulbasaur) */
}

.DoneButton:hover {
  background-color: #219d3d;
}

.BackButton {
  background-color: #e74c3c; /* Rojo (color de Pokébolas) */
}

.BackButton:hover {
  background-color: #d62c1a;
}
