.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navButton,
.createButton {
    margin-left: 5px;
    margin-top: 9px;
    padding: 9px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

.navButton:hover,
.createButton:hover {
    background-color: #333;
}

.searchBarContainer {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.searchInput {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #fdd835; /* Amarillo Pikachu */
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    
}

.createIcon{

width: 20px; /* Tamaño del ícono según tus necesidades */
    height: auto;
    transition: 0.3s ease; /* Transición suave para el cambio de brillo al pasar el mouse */
}



.nav_link {
    text-decoration: none;
    color: #ff3860; /* Rosa, color representativo de Pokémon */
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease; /* Transición suave para el cambio de color al pasar el mouse */
}

.nav_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1px;
    transition: 0.3s ease; /* Transición suave para el cambio de color al pasar el mouse */
}
.iconContainer {
    margin-bottom: 0px; /* Espaciado entre el ícono y el texto */
}

.icon {
    width: 30px; /* Tamaño del ícono según tus necesidades */
    height: auto;
    transition: 0.3s ease; /* Transición suave para el cambio de brillo al pasar el mouse */
}
.text {
    font-size: 14px; /* Tamaño del texto, un poco más grande para mayor énfasis */
    color: #1f1f1f; /* Color de texto oscuro para un contraste adecuado */
    text-align: center; /* Alinea el texto al centro */
    transition: 0.3s ease; /* Transición suave para el cambio de color al pasar el mouse */
}